<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.mapper.CommonMapper">

    <select id="selectAction" parameterType="string" resultType="map">
        ${sql}
    </select>

    <update id="updateAction" parameterType="string" >
        ${sql}
    </update>
</mapper>
